.sidebar-collapse {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: absolute;
    top: inherit;
    background-color: white;
    overflow-x: hidden;
    z-index: 50;
    right: 0;
    opacity: 0;
    padding: 16px;
    width: 50%;
    box-shadow: -14px 0px 13px -7px rgba(0,0,0,0.1);
}
.sidebar-exit {
    display: flex;
    flex-direction: row-reverse;
}
.main-ul-cont {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.sidebar-main-ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1.5rem;
    padding: 0;
}
.custom-collapse {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sidebar-ul-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.show-sidebar {
    animation: show .5s ease-in-out forwards;
}
.hide-sidebar {
    animation: hide .5s ease-in-out forwards;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }
    to {
       opacity: 0;
    }
}