/* for log in css */
* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}
:root {
    --clr-rose-600: #e11d48;
    --clr-slate-300: #cbd5e1;

    /* sizes */

    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}


.row__h1 {
    font-size: 20px;
}
.custom-img {
    display: flex;
    justify-content: center;
}
.custom__image {
    width: 100px;
    height: 100px;
}
.custom-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    min-height: 75svh;
}
.input__section {
    display: flex;
    flex-direction: column;
    gap: .50rem;
    width: 75%;
}


/* xs */
/* @media (min-width: 475px) {} */

  /* sm */
  @media (min-width: 640px) {
    .input__section {
        width: 45%;
    }
    .custom-img {
        justify-content: start;
    }
}
 
  /* md */
/* @media (min-width: 768px) {} */
  
  /* lg */
@media (min-width: 1024px) {
    .row__h1 {
        font-size: 30px;
    }
    .custom-flex {
        justify-content: end;
    }
    .input__section {
        width: 30%;
    }
    }