/* for log in css */
* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}
:root {
    --clr-rose-600: #e11d48;
    --clr-slate-300: #cbd5e1;
}


.row__h1 {
    font-size: 20px;
}
.custom-img {
    display: flex;
    justify-content: center;
}
.custom-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    min-height: 75svh;
}
.input__section {
    display: flex;
    flex-direction: column;
    gap: .50rem;
    width: 75%;
}


/* xs */
/* @media (min-width: 475px) {} */

  /* sm */
  @media (min-width: 640px) {
    .custom-img {
        justify-content: start;
    }
    .input__section {
        width: 45%;
    }
}
 
  /* md */
/* @media (min-width: 768px) {} */
  
  /* lg */
@media (min-width: 1024px) {
    .row__h1 {
        font-size: 30px;
    }
    .custom-flex {
        justify-content: end;
    }
    .input__section {
        width: 30%;
    }
    }