@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

:root{
    --color_Red1: rgba(200, 0, 0, 0.774);
    --color_Red2: rgba(206, 47, 47, 0.644);
    --color-Light1: rgb(255, 255, 255);
    --color-Light2: rgb(230, 227, 227);
    --color_Dark: rgba(68, 67, 67, 0.781)
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: var(--color-Light1);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    overflow-x: hidden;
}

/* Layout Top */

.custom-img {
    display: flex;
    justify-content: center;
}
.custom__image {
    width: 100px;
    height: 100px;
}
.custom-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-row {
    background-color: var(--color_Red1) ;
}

.row__h1{
    font-weight: bold;
    color: aliceblue;
}

h3 {
    font-size: 1.2375rem;
    color: #050505;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

/* Layout skeleton */

.wrapper {
    align-items: stretch;
    display: flex;
    max-width: 100%;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    box-shadow: 0 0 5px 0 rgba(12, 12, 12, 0.5);
    z-index: 0;
}

/* Sidebar collapse */


.main {
    display: flex;
    flex-direction: column;
    min-height: 86vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    flex-grow: 1;
    transition: all 0.35s ease-in-out;
}

.sidebar-logo {
    padding: 1.15rem 1.5rem;
}

.sidebar-logo a {
    color: #020202;
    font-size: 1.25rem;
    font-weight: 600;
}

.sidebar-nav {
    padding: 0;
}

.sidebar-item a {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

/* Responsive */

@media screen and (max-width: 769px) {
    .custom__image {
        width: 60px;
        height: 60px;
    }
    #sidebar {
        display: none;
    }
}

@media (max-width: 1080px){
    .content {
        width: auto;
    }
}

@media (max-width: 560px){
    .content {
        width: auto;
    }
}

/* For Small Devices */
@media (max-width: 360px){
    .content {
        width: auto;
    }
}
