.section__cont {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.section__a {
    text-decoration: none;
}
.section__h1 {
    font-size: var(--size-2xl);
}
.ctm-sz {
    height: 80vh;
}
.res_custom {
    height: 80vh;
}
.isnav__hide {
    display: none;
}
.hide__navBtn {
    display: inline-flex;
    align-items: start;
}
.show_agenda {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* xs */
@media (min-width: 475px) {
    .custom-flex {
        display: flex;
        flex-direction: column;
    }
}
  
/* sm */
@media (min-width: 640px) {
    .custom-flex {
        flex-direction: row ;
    }
}
  
/* md */
@media (min-width: 768px) {
    .hide__navBtn {
        display: none;
    }
    .isnav__hide {
        display: block;
    }
}
  
/* lg */
/* @media (min-width: 1024px) {} */
  
  
/* xl */
/* @media (min-width: 1280px) {} */
  
/* 2xl */
/* @media (min-width: 1536px) {} */